.hero {
  background-color: $background_color;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  grid-gap: 2rem;
  align-items: center;
  margin: 100px auto 100px auto;
  & .hero-text {
    & .hero-title {
      font-size: 50px;
      font-weight: 900;
    }
  }
}

.hero img {
  width: 110%;
}
