.hero {
  background-color: $background_color;
  display: grid;
  grid-template-columns: 1fr 1.7fr;
  width: 80%;
  grid-gap: 2rem;
  align-items: center;
  margin: 200px auto 200px auto;
  & .hero-text {
    & .hero-title {
      font-size: 50px;
      font-weight: 900;
      text-decoration: underline wavy $button_color;
      font-family: 'Aclonica', sans-serif;
    }
    & .hero-description{
        margin: 30px auto 35px auto;
    }
  }
  & a {
    color: $background_color;
    background-color: $button_color;
    text-decoration: none;
    padding: 18px 32.5px;
    border-radius: 30px;
    box-shadow: 10px 10px 0px -4px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 10px 10px 0px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 10px 10px 0px -4px rgba(0, 0, 0, 1);
    display: inline-block;
  }
}

.hero img {
  width: 100%;
}
