.marquee {
  background-color: $background_color2;
  background-image: url("../imgs/marquee-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100vh;
}
