.marquee {
  background-color: $background_color2;
  background-image: url("../imgs/marquee-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 90px 0;
  & .header {
    font-size: 50px;
    font-weight: 900;
    text-align: center;
  }
  & .text {
    text-align: center;
    padding: 20px 0 50px 0;
  }
  & .top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    width: 80%;
    margin: auto;
    padding-top: 30px;
  }
  & img {
    width: 100%;
  }
}
