.share {
    margin-bottom: 100px;
    & .header{
        font-size: 50px;
        font-weight: 900;
       text-align: center;
       margin-bottom: 50px;
       font-family: 'Aclonica', sans-serif;
    }
    & .socials{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        width: 30%;
        margin: auto;
    }
  & img {
    width: 60%;
    &:hover {
    filter: grayscale(100%);
}
  }
}
