.steps{
    padding: 100px 0;
    & .header{
        font-size: 50px;
        font-weight: 900;
        text-align: center;
        margin-bottom: 50px;
    }
    & .steps-div{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap:2rem;
        width: 80%;
        margin: auto;
        & .step1{
            & .number{
                position: absolute;
                text-align: center;
                font-size: 150px;
                color: #e1e4e7;
                z-index: 0;
            }
            & .step-description{
                position: relative;
                z-index:1;

            }
            background-color: $background_color2;
            padding: 90px;
            border-radius: 15px;
        }
    }
}