.dataandediting{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 3rem;
    width: 85%;
    margin:100px  auto;

    & .data {
        & .versediv{
            background-image: linear-gradient(90deg, rgb(70, 230, 156) 0%, rgb(70, 230, 156) 17%,rgb(103, 173, 150) 17%, rgb(103, 173, 150) 19%,rgb(136, 116, 144) 19%, rgb(136, 116, 144) 56%,rgb(169, 59, 137) 56%, rgb(169, 59, 137) 94%,rgb(202, 2, 131) 94%, rgb(202, 2, 131) 100%),linear-gradient(0deg, rgb(70, 230, 156) 0%, rgb(70, 230, 156) 17%,rgb(103, 173, 150) 17%, rgb(103, 173, 150) 19%,rgb(136, 116, 144) 19%, rgb(136, 116, 144) 56%,rgb(169, 59, 137) 56%, rgb(169, 59, 137) 94%,rgb(202, 2, 131) 94%, rgb(202, 2, 131) 100%),linear-gradient(45deg, rgb(70, 230, 156) 0%, rgb(70, 230, 156) 17%,rgb(103, 173, 150) 17%, rgb(103, 173, 150) 19%,rgb(136, 116, 144) 19%, rgb(136, 116, 144) 56%,rgb(169, 59, 137) 56%, rgb(169, 59, 137) 94%,rgb(202, 2, 131) 94%, rgb(202, 2, 131) 100%),linear-gradient(90deg, rgb(34, 25, 252),rgb(48, 3, 107)); background-blend-mode:overlay,overlay,overlay,normal;

            padding: 50px;
            text-align: center;
            border-radius: 5px;
            & .verse{
                // text-align: left;
                margin-bottom: 25px;
            }
            & .reference{
                text-align: right;
                font-weight: 900;
            }
        }
    & p{
        color: white;
    }
    }
}