.dataandediting{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 3rem;
    width: 85%;
    margin:100px  auto;

    & .data {
        & .versediv{
            background-image: linear-gradient(90deg, rgb(243, 114, 209) 0%,rgb(44, 19, 241) 100%);
            padding: 45px;
            text-align: center;
            & .verse{
                text-align: left;
                margin-bottom: 25px;
            }
            & .reference{
                text-align: right;
                font-weight: 900;
            }
        }
    & p{
        color: white;
    }
    }
}