@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #484d51;
}

span {
  font-weight: 900;
}

.hero {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1.7fr;
  width: 80%;
  grid-gap: 2rem;
  align-items: center;
  margin: 200px auto 200px auto;
}
.hero .hero-text .hero-header {
  font-size: 50px;
  font-weight: 900;
  -webkit-text-decoration: underline wavy #f075c6;
          text-decoration: underline wavy #f075c6;
  font-family: "Aclonica", sans-serif;
}
.hero .hero-text .hero-description {
  margin: 30px auto 35px auto;
}
.hero a {
  color: #ffffff;
  background-color: #f075c6;
  text-decoration: none;
  padding: 18px 32.5px;
  border-radius: 30px;
  box-shadow: 10px 10px 0px -4px rgb(0, 0, 0);
  -webkit-box-shadow: 10px 10px 0px -4px rgb(0, 0, 0);
  -moz-box-shadow: 10px 10px 0px -4px rgb(0, 0, 0);
  display: inline-block;
}

.hero img {
  width: 100%;
}

.marquee {
  background-color: #edf3f2;
  background-image: url("../imgs/marquee-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 90px 0;
}
.marquee .header {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  font-family: "Aclonica", sans-serif;
}
.marquee .text {
  text-align: center;
  padding: 20px 0 50px 0;
}
.marquee .top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  width: 65%;
  margin: auto;
  padding-top: 30px;
}
.marquee img {
  width: 100%;
}

.steps {
  padding: 100px 0;
}
.steps .img1 {
  text-align: right;
}
.steps .header {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 50px;
  font-family: "Aclonica", sans-serif;
}
.steps .steps-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  width: 80%;
  margin: auto;
}
.steps .steps-div .step1 {
  background-color: #edf3f2;
  padding: 90px 45px;
  border-radius: 15px;
}
.steps .steps-div .step1 .step-header {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 15px;
  font-family: "Aclonica", sans-serif;
}
.steps .steps-div .step1 .number {
  position: absolute;
  text-align: center;
  font-size: 150px;
  color: #e1e4e7;
  z-index: 0;
}
.steps .steps-div .step1 .step-description {
  position: relative;
  z-index: 1;
}

.share {
  margin-bottom: 100px;
}
.share .header {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 50px;
  font-family: "Aclonica", sans-serif;
}
.share .socials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 30%;
  margin: auto;
}
.share img {
  width: 60%;
}
.share img:hover {
  filter: grayscale(100%);
}

footer {
  margin: 150px 0 50px 0;
  text-align: center;
}

form {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto 20px auto;
  width: 40%;
}
form input {
  margin-bottom: 15px;
  background-color: #edf3f2;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
}
form button {
  color: #ffffff;
  background-color: #f075c6;
  padding: 18px 32.5px;
  border-radius: 30px;
  border: none;
  box-shadow: 10px 10px 0px -4px rgb(0, 0, 0);
  -webkit-box-shadow: 10px 10px 0px -4px rgb(0, 0, 0);
  -moz-box-shadow: 10px 10px 0px -4px rgb(0, 0, 0);
}
form button:hover {
  cursor: pointer;
}

.dataandediting {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-gap: 5rem;
  width: 85%;
  margin: 100px auto;
}
.dataandediting .data .versediv {
  background-image: radial-gradient(at 84% 21%, hsl(10deg, 91%, 59%) 0, hsla(10deg, 91%, 59%, 0) 50%), radial-gradient(at 49% 73%, hsl(349deg, 95%, 58%) 0, hsla(349deg, 95%, 58%, 0) 50%), radial-gradient(at 21% 21%, hsl(133deg, 86%, 57%) 0, hsla(133deg, 86%, 57%, 0) 50%), radial-gradient(at 65% 38%, hsl(93deg, 88%, 70%) 0, hsla(93deg, 88%, 70%, 0) 50%), radial-gradient(at 66% 13%, hsl(254deg, 86%, 51%) 0, hsla(254deg, 86%, 51%, 0) 50%), radial-gradient(at 52% 12%, hsl(67deg, 94%, 58%) 0, hsla(67deg, 94%, 58%, 0) 50%), radial-gradient(at 44% 84%, hsl(88deg, 85%, 51%) 0, hsla(88deg, 85%, 51%, 0) 50%), radial-gradient(at 11% 33%, hsl(40deg, 92%, 64%) 0, hsla(40deg, 92%, 64%, 0) 50%), radial-gradient(at 60% 96%, hsl(165deg, 94%, 54%) 0, hsla(165deg, 94%, 54%, 0) 50%), radial-gradient(at 18% 75%, hsl(286deg, 88%, 54%) 0, hsla(286deg, 88%, 54%, 0) 50%), radial-gradient(at 77% 53%, hsl(170deg, 85%, 58%) 0, hsla(170deg, 85%, 58%, 0) 50%), radial-gradient(at 39% 88%, hsl(325deg, 93%, 56%) 0, hsla(325deg, 93%, 56%, 0) 50%), radial-gradient(at 78% 86%, hsl(285deg, 86%, 50%) 0, hsla(285deg, 86%, 50%, 0) 50%), radial-gradient(at 37% 41%, hsl(324deg, 94%, 51%) 0, hsla(324deg, 94%, 51%, 0) 50%), radial-gradient(at 93% 42%, hsl(258deg, 87%, 55%) 0, hsla(258deg, 87%, 55%, 0) 50%), radial-gradient(at 91% 22%, hsl(25deg, 85%, 56%) 0, hsla(25deg, 85%, 56%, 0) 50%), radial-gradient(at 58% 98%, hsl(52deg, 85%, 59%) 0, hsla(52deg, 85%, 59%, 0) 50%), radial-gradient(at 91% 94%, hsl(243deg, 85%, 55%) 0, hsla(243deg, 85%, 55%, 0) 50%), radial-gradient(at 37% 14%, hsl(10deg, 91%, 70%) 0, hsla(10deg, 91%, 70%, 0) 50%), radial-gradient(at 86% 62%, hsl(239deg, 91%, 60%) 0, hsla(239deg, 91%, 60%, 0) 50%);
  padding: 50px;
  text-align: center;
  border-radius: 5px;
}
.dataandediting .data .versediv .verse {
  margin-bottom: 25px;
}
.dataandediting .data .versediv .reference {
  text-align: right;
  font-weight: 900;
}
.dataandediting .data p {
  color: white;
}
.dataandediting .editing {
  overflow-y: scroll;
}
.dataandediting .editing .backgrounds {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  height: 50px;
}
.dataandediting .editing .backgrounds div {
  padding: 40px;
  border-radius: 5px;
}
.dataandediting .editing .backgrounds:hover {
  cursor: pointer;
}