@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #484d51;
}

.hero {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1.7fr;
  width: 80%;
  grid-gap: 2rem;
  align-items: center;
  margin: 200px auto 200px auto;
}
.hero .hero-text .hero-title {
  font-size: 50px;
  font-weight: 900;
  -webkit-text-decoration: underline wavy #f075c6;
          text-decoration: underline wavy #f075c6;
}
.hero .hero-text .hero-description {
  margin: 30px auto 35px auto;
}
.hero a {
  color: #ffffff;
  background-color: #f075c6;
  text-decoration: none;
  padding: 18px 32.5px;
  border-radius: 30px;
  box-shadow: 10px 10px 0px -4px rgb(0, 0, 0);
  -webkit-box-shadow: 10px 10px 0px -4px rgb(0, 0, 0);
  -moz-box-shadow: 10px 10px 0px -4px rgb(0, 0, 0);
  display: inline-block;
}

.hero img {
  width: 100%;
}

.marquee {
  background-color: #edf3f2;
  background-image: url("../imgs/marquee-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 90px 0;
}
.marquee .header {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
}
.marquee .text {
  text-align: center;
  padding: 20px 0 50px 0;
}
.marquee .top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  width: 80%;
  margin: auto;
  padding-top: 30px;
}
.marquee img {
  width: 100%;
}

.steps {
  padding: 100px 0;
}
.steps .img1 {
  text-align: right;
}
.steps .header {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 50px;
}
.steps .steps-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  width: 80%;
  margin: auto;
}
.steps .steps-div .step1 {
  background-color: #edf3f2;
  padding: 90px 45px;
  border-radius: 15px;
}
.steps .steps-div .step1 .step-header {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 15px;
}
.steps .steps-div .step1 .number {
  position: absolute;
  text-align: center;
  font-size: 150px;
  color: #e1e4e7;
  z-index: 0;
}
.steps .steps-div .step1 .step-description {
  position: relative;
  z-index: 1;
}

.share img {
  filter: grayscale(100%);
}
.share img:hover {
  filter: grayscale(0%);
}