@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


$background_color:#ffffff;
$background_color2:#edf3f2;
$text_color:#484d51;
$header_color:#14181f;
$button_color: #f075c6;
$button_shadow:#14181f;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $text_color;    
}
body{
    font-family: 'Inter', sans-serif;

}
span{
    font-weight: 900;
}
.active{
    border: 5px solid $button_color;
}
.inactive{
    border: none;
}